{{> nav}}



<a id="addNewBlogBtn" href="/blogAdd">Add New Post</a>
<div>
    <div class="card">
        <ul class="card-body">
            {{#each blogContent}}
            <li>
                <div class="card">
                <a href="/dashboard/edits/{{id}}">
                    <span>{{this.title}}</span>
                </a>
                <p>
                    {{format_time this.date}}
                </p>               
                </div>   
                {{/each}}            
            </li>
        </ul>

    </div>
</div>