{{> nav}}



<a id="addNewBlogBtn" href="/blogAdd">Add New Post</a>
<div>
    <div class="card">
        <ul class="card-body">
              <li>
                {{#each blogContent}}
                <h2>{{this.title}}</h2>
                
                <h2>{{this.content}}</h2>
{{/each}}
              </li>
           
              
        </ul>
        
    </div>
</div>